<div>
    <h1>How Many People Are In Space Right Now?</h1>
    <p>{{travelers.number}}</p>
    
    <div>
      <h2>Name & Spacecraft</h2>
      {{travelers.people[current].name}} -- {{travelers.people[current].craft}}
    </div>
    <button ng-click="Prev()">Prev</button><button ng-click="Next()">Next</button>
</div>
<h1>LATEST NEWS</h1>
							<div class="newsitem">
									<a href="http://www.telegraph.co.uk/travel/news/affordable-space-tourism-in-10-years/"><img src="/img/artilce1.jpg" alt="" width="100px" height="90px"></a>
									<h1>AFFORDABLE SPACE TOURISM 'IN 10 YEARS', PREDICTS NASA ASTRONAUT</h1>
									<span>MACRH 11, 2016</span>
									<a href="http://www.telegraph.co.uk/travel/news/affordable-space-tourism-in-10-years/" class="more">Read More</a>
                </div>
								<li>
									<a href="http://www.cnn.com/2013/12/09/tech/space-tourism/"><img src="/img/article2.jpg" alt="" width="100px" height="90px"></a>
									<h1>TOURIST TRIPS TO THE MOON BY 2043?</h1>
									<span>DECEMBER 9, 2013</span>
									<a href="http://www.cnn.com/2013/12/09/tech/space-tourism/" class="more">Read More</a>
								</li>
						
